<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXKZCSNZ_jSXKVCryuk7AXENIjESs2ro4</string>
	<key>GCM_SENDER_ID</key>
	<string>174382024261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Phincon.SyariahApp</string>
	<key>PROJECT_ID</key>
	<string>syariahapp</string>
	<key>STORAGE_BUCKET</key>
	<string>syariahapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174382024261:ios:9f6d9b7e347a4f08f2852c</string>
</dict>
</plist>